#define IRQ_HIGHEST_PRIORITY	0

/ {
	aliases {
		counter0 = &tpm2;
		counter1 = &tpm4;
	};
};

&tpm2 {
	interrupts = <GIC_SPI 37 IRQ_TYPE_LEVEL
		IRQ_HIGHEST_PRIORITY>;
	status = "okay";
};

&tpm4 {
	status = "okay";
};
