#!/bin/bash

INMATE_NAME=%TEMPLATE_INMATE_NAME%

echo 'Shutdown inmate cell'
jailhouse cell shutdown ${INMATE_NAME}

echo 'Destroy inmate cell'
jailhouse cell destroy ${INMATE_NAME}

echo 'Disabling Jailhouse root cell'
jailhouse disable

echo 'modprobe -r jailhouse'
modprobe -r jailhouse
