# Copyright 2025 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

rsource "${SdkRootDirPath}/Kconfig.mcuxpresso"
rsource "${SdkRootDirPath}/../../rtos-apps/Kconfig"
rsource "${SdkRootDirPath}/../../rtos-abstraction-layer/freertos/Kconfig"
